body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cursiveFont {
  font-family: 'Dancing Script', cursive !important;
}

.thumbnail img {
  height: 150px;
  width: auto;
}

.thumbnail {
  width: 80%;
  margin-left: 10%;
}

.singleCheese img {
  height: 350px;
  width: auto;
}

.header {
  font-size: 175%;
  font-family: 'Dancing Script', cursive !important;
}

.title {
  font-size: 300%;
  font-family: 'Dancing Script', cursive !important;
}

.subtitle {
  font-size: 200%;
  font-family: 'Dancing Script', cursive !important;
}

.thumbnail .title {
  font-size: 200%;
  font-family: 'Dancing Script', cursive;
}

.name {
  font-weight: bold;
  font-size: 100%
}
.authInputs {
  width: 100%;
}

.inputContainer {
  width: 80%;
}

.googleButton {
  margin-left: 14%;
}

.authButtons {
  display: inline;
  font-family: 'Dancing Script', cursive !important;
}

.unauthButtons {
  display: inline;
}

.navButton {
  background-color: rgb(32, 108, 153);
}

.reviews{
  display: table;
  vertical-align: middle;
}