body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}



nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cursiveFont {
  font-family: 'Dancing Script', cursive;
}

.thumbnail img {
  height: 150px;
  width: auto;
}

.singleCheese img {
  height: 350px;
  width: auto;
}

.title {
  font-size: 300%;
  font-family: 'Dancing Script', cursive;
}

.subtitle {
  font-size: 200%;
  font-family: 'Dancing Script', cursive;
}

.thumbnail .title {
  font-size: 200%;
  font-family: 'Dancing Script', cursive;
}

.name {
  font-weight: bold;
}
.authInputs {
  width: 100%;
}

.inputContainer {
  width: 80%;
}

.googleButton {
  margin-left: 14%;
}

.authButtons {
  display: inline;
}

.unauthButtons {
  display: inline;
}

.navButton {
  background-color: rgb(32, 108, 153);
}
